:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.billing__container {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-l);
}
.billing__section-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.billing__section-title {
  margin: 0;
  padding: 0;
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  font-size: var(--wa-font-size-m);
}
.billing__actions-row {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-end;
  /* min-width: 160px; */
  gap: 0.5rem;
}
.billing__invoice-nbr {
  margin: 0;
  padding: 0;
}
.billing__invoice-nbr.--secondary {
  font-size: 0.75rem;
}
.billing__price-col {
  text-align: end !important;
}

/* Billing Cards Container */
.billing__cards {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-m);
  padding-bottom: var(--wa-space-l) !important;
}

/* Individual Card */
.billing__card {
  display: block;
}

/* Header */
.billing__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.billing__card-header-info {
  display: flex;
  flex-direction: column;
}

.billing__card-number {
  margin: 0;
  font-weight: var(--wa-font-weight-heading);
  font-family: var(--wa-font-family-heading);
}

.billing__card-type {
  margin: 0;
  font-size: var(--wa-font-size-xs);
  color: var(--wa-color-text-secondary);
}

/* PDF Download Button */
.billing__card-download-btn {
  display: flex;
  align-items: center;
}

/* Details Section */
.billing__card-details {
  display: flex;
  /* flex-direction: column; */
  gap: var(--wa-space-xs);
  justify-content: space-between;
}

.billing__card-detail {
  display: flex;
  flex-direction: column;
}

.billing__card-detail-label {
  margin: 0;
  font-size: var(--wa-font-size-xs);
  color: var(--wa-color-text-quiet);
}
.billing__card-detail-label.--amount {
  text-align: end !important;
}
.billing__card-detail-value {
  margin: 0;
  font-weight: var(--wa-font-weight-regular);
  font-size: var(--wa-font-size-s);
}
.billing__card-void-btn {
  flex: 1 1 0%;
}

/* Footer (Void button) */
.billing__card-footer {
  display: flex;
}
.table-container {
  display: none;
}
.billing__card::part(footer) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*md*/
@media (min-width: 768px) {
  .billing__cards {
    display: none;
  }
  .table-container {
    display: block;
  }
}
