:host {
  display: block;
  --size: 25rem;
}

.drawer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.drawer--visible {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
}
.drawer--contained {
  position: absolute;
  z-index: initial;
}

.drawer--fixed {
  position: fixed;
  z-index: 999999;
}
.drawer__panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--background, white);
  color: var(--gray-800);
  box-shadow: 1px 0 9px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s transform;
  overflow: auto;
  pointer-events: all;
}
.drawer__panel:focus {
  outline: none;
}
.drawer--top .drawer__panel {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: var(--size);
  transform: translate(0, -100%);
}

.drawer--right .drawer__panel {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: var(--size);
  height: 100%;
  transform: translate(100%, 0);
}
.drawer--open .drawer__panel {
  transform: none;
}

.drawer__header {
  display: flex;
}

.drawer__title {
  flex: 1 1 auto;
  font-size: 18;
  line-height: 0;
  padding: 10px;
}

.drawer__close {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 10px;
}

.drawer__body {
  flex: 1 1 auto;
  padding: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.drawer__footer {
  text-align: right;
  padding: 10px;
}
.drawer__footer ::slotted(six-button:not(:last-of-type)) {
  margin-right: 5px;
}

.drawer:not(.drawer--has-footer) .drawer__footer {
  display: none;
}

.drawer__overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.3s opacity;
  pointer-events: none;
}

.drawer--contained .drawer__overlay {
  position: absolute;
}
.drawer--open .drawer__overlay {
  opacity: 0.4;
}
