.loader__container {
  position: fixed;
  z-index: 1000;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 0 !important;
  padding: 0 !important;
}

.loader {
  width: 1.25rem;
  height: 1.25rem;
  border: 2.5px solid #3f3f3f;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loaderContainer {
  position: absolute;
  z-index: 100001;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
