:host {
  display: inline-flex;
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.unit-tag__content {
  max-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.unit-tag__el {
  height: 1.4rem;
  overflow: hidden;
}
.unit-tag__el::part(base) {
  padding-top: 0;
  padding-bottom: 0;
  height: fit-content;
  box-sizing: border-box;
  height: fit-content;
}
