:host {
  display: block;
}
.region-label {
  transform-origin: left top;
}
select {
  appearance: none;
  padding-block-start: 1rem;
  block-size: 40px;
}
.title {
  height: 32px;
  flex-grow: 0;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #101828;
}
.select-icon:dir(rtl) {
  left: 1rem;
}
.select-icon:dir(ltr) {
  right: 1rem;
}
