:host {
  display: block;
}
.margin-bottom-8 {
  margin-bottom: 8px !important;
}
.roomtype__name {
  margin: 0;
  padding: 0;
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  margin-bottom: 0.5rem;
  color: var(--wa-color-text-normal);
}
