/* :host {
  display: block;
}
.rate_amount {
  display: none;
  padding: 0;
  margin: 0;
}

.booking-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}
.non-ref-span {
  font-size: 12px;
  color: var(--green);
}
.booking-roomtype-title {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  margin: 0;
  padding: 0;
}

.booking-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.booking-rateplan {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.booking-rateplan-name {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.booking-tooltip {
  margin-right: 0.5rem;
  margin: 0;
  padding: 0;
}

.booking-variation {
  margin: 0;
  padding: 0;
}

.booking-price {
  margin: 0;
  padding: 0;
}

.booking-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0.5rem;
}

.booking-details-container {
  display: none;
}


@media (min-width: 768px) {
  .booking-header {
    justify-content: flex-start;
  }
  .booking-footer,
  .booking-price {
    display: none;
  }
  .booking-details-container,
  .rate_amount {
    display: inline-flex;
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 908px) {
  .aplicationInfoContainer {
    max-width: 100%;
  }
  .guest-info-container,
  .bed-preference-container,
  .unit-select-container {
    max-width: 250px;
  }
 
} */
:host {
  color: var(--wa-color-text-normal);
  font-family: var(--wa-font-family-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.fd-application-info__header {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.fd-application-info__variation {
  padding: 0;
  margin: 0;
}

.fd-application-info__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fd-application-info__price-inline,
.fd-application-info__details {
  display: none;
}

.fd-application-info__footer,
.fd-application-info__rateplan {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.fd-application-info__footer {
  justify-content: space-between;
}
.fd-application-info__rateplan-name {
  font-size: var(--wa-font-size-m);
  margin: 0;
  padding: 0;
}
.fd-application-info__non-refundable {
  color: var(--wa-color-success-fill-loud);
  margin-inline-start: 0.5rem;
}
.fd-application-info__roomtype-title {
  font-size: var(--wa-font-size-l);
}
.fd-application-info__infant {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.fd-application-info__infant-label {
  margin: 0;
  padding: 0;
  color: var(--wa-color-danger-fill-loud);
}

/*md*/
@media (min-width: 768px) {
  .fd-application-info__infant {
    flex-direction: row;
    align-items: center;
  }
  .fd-application-info__infant .fd-application-info__select {
    max-width: 100px;
  }
  .fd-application-info__roomtype-title {
    font-size: var(--wa-font-size-m);
  }
  .fd-application-info__header {
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  .fd-application-info__form {
    flex-direction: row;
  }
  .fd-application-info__price-inline {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .fd-application-info__details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .fd-application-info__price,
  .fd-application-info__footer {
    display: none;
  }
}

/*lg*/
@media (min-width: 1024px) {
}

/*xl*/
@media (min-width: 1280px) {
}

/*2xl*/
@media (min-width: 1536px) {
}
