:host {
  overflow-x: hidden;
  --ir-dialog-max-width: 20rem;
  text-align: start;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}
:host * {
  font-family: inherit !important;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.font-medium {
  font-weight: 600;
}

:host th {
  font-weight: 600;
}
.booking-details__date-view-header {
  font-size: 1.1rem !important;
}

.booking-details__booking-info {
  display: grid;
  padding: var(--wa-space-m);
  gap: var(--wa-space-l);
}
.booking-details__info-column {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-l);
}

@media (min-width: 768px) {
  .booking-details__booking-info {
    gap: var(--wa-space-xl);
    grid-template-columns: repeat(2, 1fr);
  }
}

.card.room-group {
  margin-bottom: 1rem !important;
}
.card.room-group:last-child {
  margin-bottom: 1.81rem !important;
}
.h-28 {
  height: 2rem;
}
.mx-01 {
  --m: 5px;
  margin-right: var(--m) !important;
  margin-left: var(--m) !important;
}

.date-margin {
  margin-right: 5px;
}
.pickup-margin {
  margin-bottom: 7px !important;
}
.header-date {
  padding-left: 5px !important;
}

.pointer {
  cursor: pointer;
}

:root {
  --sidebar-width: 50rem;
}
.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sm-padding-right {
  padding-right: 0.2rem;
}
.sm-padding-left {
  padding-left: 0.2rem;
}
.sm-padding-top {
  padding-top: 0.2rem;
}
.sm-padding-bottom {
  padding-bottom: 0.2rem;
}

.info-notes {
  list-style: none;
  padding-left: 0;
}
.light-blue-bg {
  background-color: #acecff;
  padding: 0.2rem 0.3rem;
}
.iframeHeight {
  height: 17.5rem;
}

.dialog-title {
  width: fit-content;
}
