@layer wa-utilities {
  :host([size='xs']),
  .wa-size-xs {
    font-size: var(--wa-font-size-xs);
  }

  :host([size='s']),
  .wa-size-s {
    font-size: var(--wa-font-size-s);
  }

  :host([size='m']),
  .wa-size-m {
    font-size: var(--wa-font-size-m);
  }

  :host([size='l']),
  .wa-size-l {
    font-size: var(--wa-font-size-l);
  }

  :host([size='xl']),
  .wa-size-xl {
    font-size: var(--wa-font-size-xl);
  }
}
