:host {
  display: block;
}
.pms-payment-due-alert__callout-message {
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
