.page-title {
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  font-size: var(--wa-font-size-xl);
}
:host {
  height: 100% !important;
  overflow-y: auto !important;
}
