dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
Makefile
.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
payload.json
bun.lockb
pnpm-lock.yaml

IR_Admin.js
IR_Admin.Master
IR_Admin--current.Master


payloads

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
