.date-picker {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 999;
  background: var(--backgroud, white);
  color: var(--gray-800, #1d2939);
  box-sizing: border-box;
  padding: 0;
}
.navigation-buttons:dir(rtl) svg {
  transform: rotate(180deg);
}

.month-navigation span {
  line-height: 0;
  color: var(--gray-800, #1d2939);
  font-size: 16px;
}
.current-date {
  color: hsl(var(--brand-600, 215, 87%, 51%));
}
.day-button:hover::after {
  content: '';
  border-radius: var(--radius, 8px);
  background: var(--gray-200, #eaecf0);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.navigation-buttons {
  box-sizing: border-box;
  border: 0;
  background: var(--backgroud, white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--cal-button-size, 35px);
  width: var(--cal-button-size, 35px);
  margin: 0;
  padding: 0;
  border-radius: var(--radius, 8px);
  cursor: pointer;
  color: var(--gray-800, #1d2939);
}
.navigation-buttons:hover {
  background: var(--gray-200, #eaecf0);
}
.day-button:focus-visible {
  outline-color: hsl(var(--brand-600, 215, 87%, 51%));
}
.day-button:disabled {
  opacity: 0.3;
  cursor: default;
}
.day-button:disabled .day {
  text-decoration: line-through;
}
.day-button:disabled:hover::after {
  content: none;
}
.day-button .day,
.price {
  margin: 0;
  padding: 0;
}
.day-button .price {
  font-size: 10px;
  color: var(--gray-600);
}
.month-navigation {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.month-navigation span {
  padding: 0;
  flex: 1;
}
.margin-right {
  margin-right: 0;
}
.margin-left {
  margin-left: 0;
}
.margin-horizontal:dir(ltr) {
  margin-left: var(--cal-button-size, 35px);
}
.margin-horizontal:dir(rtl) {
  margin-right: var(--cal-button-size, 35px);
}
.weekday-name {
  font-weight: 400;
  text-align: center;
  color: var(--gray-800, #1d2939);
  font-size: 14px;
}
.day-button[aria-selected],
.day-button[aria-selected] .current-date {
  color: white;
}
.day-button[aria-selected]::after {
  content: '';
  border-radius: var(--radius, 8px);
  background: hsl(var(--brand-600, #f2f4f7));
  position: absolute;
  inset: 0;
  z-index: -1;
}
table {
  border-collapse: collapse;
  box-sizing: border-box;
}
td,
th {
  padding: 0;
  border: none;
}
th {
  width: var(--cal-button-size, 35px);
  height: var(--cal-button-size, 35px);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0 !important;
  box-sizing: border-box;
}
td {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}
.day-button {
  box-sizing: border-box;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
  width: var(--cal-button-size, 35px);
  height: var(--cal-button-size, 35px);
  position: relative;
  border-radius: 8px;
  margin: 0;
  color: var(--gray-800);
}

.month-container {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-sizing: border-box;
}
.month-container span {
  flex: 1;
  text-align: center;
}

.day-range-end .price,
.day-range-start .price {
  color: var(--gray-200, #eaecf0);
}

.day-button:hover.highlight::after {
  border-radius: 0;
}
.highlight::after {
  content: '';
  border-radius: 0;
  background: var(--gray-100, #f2f4f7);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.button-next-main {
  display: none;
}
@media only screen and (min-width: 640px) {
  .date-picker {
    flex-direction: row;
  }
  .button-next-main {
    display: flex;
  }
  .button-next {
    display: none;
  }
}
