.ir__drawer {
  text-align: left !important;
}

.ir__drawer::part(header) {
  border-bottom: 1px solid var(--wa-color-surface-border);
  padding-bottom: calc(var(--spacing) / 2);
}
.ir__drawer::part(footer) {
  padding-top: calc(var(--spacing) / 2);
  border-top: 1px solid var(--wa-color-surface-border);
}
