@import url('../../../../assets/air-datepicker.css');
:host {
  display: block;
}
.custom-date-picker__calendar {
  /* --adp-background-color: var(--wa-color-neutral-0, #fff);
  --adp-border-radius: 12px;
  --adp-cell-border-radius: 8px; */
  --adp-padding: 1rem;
  /* --adp-color: var(--wa-color-neutral-900, #0f172a);
  --adp-color-other-month: rgba(15, 23, 42, 0.35);
  --adp-color-other-month-hover: rgba(15, 23, 42, 0.65);
  --adp-color-disabled: rgba(15, 23, 42, 0.35);
  --adp-nav-title-size: 1rem;
  --adp-nav-title-weight: 600;
  --adp-cell-background-color-selected: var(--wa-color-primary-600, #2563eb);
  --adp-cell-background-color-selected-hover: var(--wa-color-primary-700, #1d4ed8);
  --adp-cell-border-color: transparent;
  --adp-day-name-color: rgba(15, 23, 42, 0.65); */
}
