:host {
  display: block;
}
.custom-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e5ec;
}
.card-title {
  flex: 1;
}
.border-theme {
  border: 1px solid #cacfe7;
}
.pickup__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .price-input-container {
    max-width: 290px;
  }
}
