:host {
  --spacing: var(--wa-space-l);
  display: block;
  color: var(--wa-color-text-normal);
  font-size: var(--wa-font-size-s);
  background-color: var(--wa-color-surface-default);
  border-inline-end: 2px solid var(--wa-color-surface-border);
}
.fd-to-be-assigned__title {
  align-self: center;
  flex: 1 1 auto;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-size-adjust: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-language-override: inherit;
  font-size: var(--wa-font-size-l);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  margin: 0px;
  padding: 0;
  color: var(--wa-color-text-normal, black);
}
.fd-to-be-assigned__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: var(--spacing);
  padding-block-end: 0;
  padding-inline-end: calc(var(--spacing) - var(--wa-form-control-padding-block));
  padding-block-start: calc(var(--spacing) - var(--wa-form-control-padding-block));
  border-bottom: 1px solid var(--wa-color-surface-border);
  padding-bottom: calc(var(--spacing) / 2);
  box-sizing: border-box;
  background-color: var(--ir-drawer-background-color, var(--wa-color-surface-default));
}
.fd-to-be-assigned__header-container {
  position: sticky;
  top: 0;
  background-color: var(--wa-color-surface-default);
  z-index: 1;
}
.to-be-assigned__body {
  padding: var(--spacing);
}
.to-be-assigned__body .scrollabledArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.custom-dropdown {
  cursor: pointer;
  padding: 5px 10px;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-toggle {
  all: unset;
  display: flex;
  width: max-content;
  align-items: center;
  gap: 10px;
}
.close_btn_style {
  padding: 0.4rem;
}
.close_btn_style:hover {
  background-color: #f6f6f6;
}
.dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
}
.tobeAssignedHeader {
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1.12rem;
  padding: 0;
  margin: 0;
}
.assignment_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  margin-bottom: 1rem;
}
.dropdown-toggle::after {
  content: none;
  display: none;
}
.dropdown-toggle .caret-icon {
  transition: transform 0.2s ease;
}
.show .caret-icon {
  transform: rotate(-180deg);
}
.stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}
.pointer {
  cursor: pointer;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  padding: 0;
}
.dot {
  width: 5px;
  height: 5px;
  margin: 5px 4px 0;
  background-color: #6b6f82;
  border-radius: 50%;
  animation: dotFlashing 1s infinite linear alternate;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
