:host {
  display: block;
}
.financial-actions__meta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.daily-revenue__table {
  flex: 1 1 0%;
}

/*sm*/
@media (min-width: 768px) {
  .financial-actions__meta {
    flex-direction: row;
  }
}
