.input-container {
  border-radius: var(--radius, 8px);
  border: 1px solid var(--gray-300, #d0d5dd);
  transition: all 0.3s ease-in-out;
  width: 100%;
  position: relative;
  background: white;
  display: flex;
  align-items: center;
}
.placeholder {
  position: absolute;
  transform-origin: left top;
  top: 50%;
  padding: 0px 14px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  color: var(--gray-600, #475467);
}
input {
  min-block-size: 3rem;
  width: 100%;
  border-radius: var(--radius, 8px);
  padding: 0px 14px;
  padding-block-start: 1rem;
  outline: none;
  font-size: 16px;
}
:host([placeholder]) .placeholder,
input:focus + .placeholder,
.input-container.has-value .placeholder {
  transform: translateY(-1.2rem);
  font-size: 0.75rem;
  line-height: 1rem;
}
.input-container:focus-within {
  border-color: hsl(var(--brand-300, 206, 100%, 76%));
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 0 0 4px hsla(var(--brand-100, 206, 100%, 76%), 0.2);
}
.error {
  border-color: var(--error-300, #fda29b);
}
.disabled,
.disabled input {
  background: var(--gray-50, #f9fafb);
  color: var(--gray-300, #d0d5dd);
  pointer-events: none;
}

label {
  position: absolute;
  pointer-events: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-600, #475467);
}
label:dir(rtl) {
  padding-right: 8px;
}
label:dir(ltr) {
  padding-left: 8px;
}

.input-container[data-context='icon']:dir(ltr) input,
.input-container[data-context='icon']:dir(ltr) .placeholder {
  padding-left: 2.4rem;
}
.input-container[data-context='icon']:dir(rtl) input,
.input-container[data-context='icon']:dir(rtl) .placeholder {
  padding-right: 2.4rem;
}
