:host {
  display: block;
}
.extra-service-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0.5rem;
}
.extra-service-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.extra-service-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.extra-service-conditional-date {
  margin-top: 0.5rem;
}
.extra-service-price {
  white-space: nowrap;
}
.extra-service-description {
  word-break: break-all;
}
