/* Web Awesome core styles */
/* @import url('../assets/webawesome/themes/webawesome.css'); */
@import url('../assets/webawesome/themes/default.css');

/* Place project-wide overrides below. */
.my-custom-style {
  background: #000;
  color: white;
}

:host {
  --wa-form-control-required-content-color: var(--wa-color-danger-border-loud);
  padding: var(--wa-space-l);
}
/* td {
  padding: 0 !important;
} */
.label-on-left {
  display: grid;
  gap: var(--wa-space-m);
}
wa-card::part(base) {
  box-sizing: border-box;
}
wa-input[aria-invalid='true']::part(base),
wa-select[aria-invalid='true']::part(combobox) {
  border-color: var(--wa-color-danger-border-loud);
  outline-color: var(--wa-color-danger-border-loud);
  border-width: 2px;
}

/* Shared layout for form controls inside wa-select, wa-input, wa-textarea */
@media (min-width: 768px) {
  /* .label-on-left wa-switch::part(label) {
    margin-inline-start: 0;
    margin-inline-end: 0.5rem;
  } */
  .label-on-left {
    align-items: center;
    grid-template-columns: auto 1fr;
  }
  .label-on-left wa-switch::part(base),
  .label-on-left wa-select::part(form-control),
  .label-on-left wa-select,
  .label-on-left wa-switch,
  .label-on-left wa-input,
  .label-on-left wa-textarea {
    grid-column: 1 / -1;
    grid-row-end: span 2;
    display: grid;
    grid-template-columns: subgrid;
    gap: 0 var(--wa-space-l);
    align-items: center;
  }
  .label-on-left wa-switch::part(base) {
    direction: rtl;
  }
  .label-on-left wa-switch::part(base) > * {
    justify-self: flex-start;
    justify-content: flex-start;
    direction: ltr; /* fix text direction */
  }
  /* Label alignment */
  .label-on-left ::part(label) {
    justify-content: flex-end;
  }

  /* Hint always in second column */
  .label-on-left ::part(hint) {
    grid-column: 2;
  }
}
