:host {
  display: block;
}
.extra-channel-service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.extra-channel-service-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.extra-channel-service-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.extra-channel-service-conditional-date {
  margin-top: 0.5rem;
}
