:host {
  display: block;
}
.dropdown-toggle {
  color: var(--blue);
}
.dropdown-toggle::after {
  content: none;
  display: none;
}
.dropdown-toggle .caret-icon {
  transition: transform 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
.btn:hover .caret-icon path {
  fill: #6b6f82;
}
.show .caret-icon {
  transform: rotate(-180deg);
}
