:host {
  display: block;
}
.dropdown-content {
  max-height: 250px;
  background: white;
  border-radius: 8px;
  z-index: 99999;
  overflow-y: auto;
  width: 100%;
  border: 1px solid var(--gray-300);
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
}
.combobox-item {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
  padding: 10px 14px;
}
.combobox-item[data-highlighted='true'] {
  background-color: var(--gray-50);
  color: var(--gray-900);
}
.combobox-item[data-disabled] {
  color: var(--gray-300);
}
.filter-input {
  outline: none;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-inline: 8px;
  color: var(--gray-900);
}
.filter-container {
  padding: 10px 14px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
}
.input-trigger:focus-within {
  border-color: hsl(var(--brand-300, 206, 100%, 76%));
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 0 0 4px hsla(var(--brand-100, 209, 100%, 91%), 0.2);
}
.input-trigger {
  transition: all 0.3s ease-in-out;
}
.input-trigger.error {
  border-color: var(--error-300, #fda29b);
}
.input-trigger {
  border-radius: var(--radius, 8px);
  border: 1px solid var(--gray-300, #d0d5dd);
  transition: all 0.3s ease-in-out;
  width: 100%;
  position: relative;
  background: white;
  display: flex;
  align-items: center;
}
label {
  position: absolute;
  transform-origin: left top;
  pointer-events: none;
  top: 50%;
  transition: all 0.3s ease-in-out;
  color: var(--gray-600, #475467);
  transform: translateY(-1.2rem);
  font-size: 0.75rem;
  line-height: 1rem;
}
.input-subtrigger {
  min-block-size: 3rem;
  width: 100%;
  border-radius: var(--radius, 8px);
  padding-block-start: 1rem;
  outline: none;
  font-size: 16px;
}
