.logo {
  height: 1.5rem;
  width: 1.5rem;
}
:host {
  display: flex;
  gap: 5px;
  align-items: center;
}
:host([data-empty]) {
  display: none !important;
}
.icon {
  margin-left: 3px;
  padding: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
}
.label_message {
  margin: 0 3px;
  padding: 0;
}
.label_title {
  min-width: max-content;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.label_placeholder {
  color: #cacfe7;
  color: var(--wa-color-neutral-70);
  padding: 0 !important;
  margin: 0 !important;
}
.icon-container {
  margin: 0;
  padding: 0;
}
.country {
  height: 16px;
  width: 23px;
  border-radius: 3px;
}
svg {
  margin: 0;
  padding: 0;
}
.label_wrapper_inline {
  display: inline;
  max-width: 100%;
  gap: 5px;
  /* margin-bottom: 5px; */
}
.label_wrapper_flex {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 100%;
  /* margin-bottom: 5px; */
}

.label_title {
  font-weight: 600;
  white-space: nowrap;
  display: inline;
}

.label_message {
  display: inline; /* Keeps the message inline */
  white-space: normal; /* Allows wrapping of the message text */
  word-break: break-word; /* Breaks long words/URLs to prevent overflow */
}
