:host {
  display: block;
  height: 100%;
  flex: 1 1 0%;
}
@media (min-width: 768px) {
  .collapse-btn {
    display: none;
  }
  #salesFiltersCollapse.collapse:not(.show) {
    display: block;
  }
}
