:host {
  display: block;
  position: relative;
}
.error-message {
  font-weight: var(--wa-form-control-hint-font-weight);
  margin-block-start: 0.5em;
  font-size: var(--wa-font-size-smaller);
  line-height: var(--wa-form-control-label-line-height);
  color: var(--wa-color-danger-fill-loud);
  /* position: absolute; */
}
