@import url('../../../assets/webawesome/utilities/size.css');
:host {
  box-sizing: border-box;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.mobile-input__logo {
  height: var(--wa-font-size-s);
  aspect-ratio: 4/3;
  border-radius: 3px;
}
.mobile-input__required {
  color: #f3676c !important;
}
.mobile-input__prefix-dropdown::part(menu) {
  height: 300px;
  /* padding-top: 0; */
}
.mobile-input__container {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin-top: 0.5rem;
}
.mobile-input__container--disabled {
  opacity: 0.7;
}
.mobile-input__phone-country {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mobile-input__phone {
  flex: 1 1 0%;
}
.mobile-input__phone {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mobile-input__phone--invalid {
  border-color: var(--wa-color-danger-600);
}
.mobile-input__label {
  display: inline-block;
  position: relative;
  color: var(--wa-form-control-label-color);
  font-weight: var(--wa-form-control-label-font-weight);
  line-height: var(--wa-form-control-label-line-height);
  margin-block-start: 0.5em !important;
}
.mobile-input__description {
  margin: 0.25rem 0 0.5rem;
  color: var(--wa-color-neutral-500);
  font-size: 0.875rem;
}
.mobile-input__error {
  margin: 0.5rem 0 0;
  color: var(--wa-color-danger-600);
  font-size: 0.875rem;
}
.mobile-input__required {
  margin-left: 0.25rem;
  color: var(--wa-color-danger-600);
}
.mobile-input__trigger,
.mobile-input__phone {
  padding: 0 var(--wa-form-control-padding-inline);
  color: var(--wa-form-control-value-color);
  font-size: var(--wa-form-control-value-size);
  font-family: inherit;
  font-weight: var(--wa-form-control-value-font-weight);
  line-height: var(--wa-form-control-value-line-height);
  vertical-align: middle;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  background-color: var(--wa-form-control-background-color);
  border-color: var(--wa-form-control-border-color);
  border-style: var(--wa-form-control-border-style);
  border-width: var(--wa-form-control-border-width);
  border-radius: var(--wa-form-control-border-radius);
  transition: background-color var(--wa-transition-normal), border var(--wa-transition-normal), all var(--wa-transition-normal), outline var(--wa-transition-fast);
  transition-timing-function: var(--wa-transition-easing);
}
.mobile-input__container {
  height: var(--wa-form-control-height);
}
.mobile-input__trigger {
  height: 100%;
}
.mobile-input__trigger:focus,
.mobile-input__phone:focus {
  outline: none;
}
.mobile-input__trigger:disabled,
.mobile-input__phone:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.mobile-input__trigger:focus-visible,
.mobile-input__phone:focus-visible {
  outline: var(--wa-focus-ring);
  outline-offset: var(--wa-focus-ring-offset);
  z-index: 2;
}
.mobile-input__phone::placeholder {
  color: var(--wa-form-control-placeholder-color);
  user-select: none;
  -webkit-user-select: none;
}
.mobile-input__trigger {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  cursor: pointer;
}
.mobile-input__phone {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mobile-input__phone {
  cursor: text;
}
.mobile-input__trigger[aria-expanded='true'] {
  outline: var(--wa-focus-ring);
  outline-offset: var(--wa-focus-ring-offset);
  z-index: 2;
}
.mobile-input__trigger[aria-expanded='true'] .mobile-input__phone-country-caret {
  transform: rotate(-180deg);
}

.mobile-input__country-name {
  flex: 1;
}
.mobile-input__country-prefix {
  color: var(--wa-color-neutral-500);
}
.mobile-input__trigger[aria-invalid='true'] {
  border-color: var(--wa-color-danger-border-loud);
  outline-color: var(--wa-color-danger-border-loud);
  border-width: 2px;
}
.phone__input {
  flex: 1 1 0%;
  width: 100%;
}
.phone__input:dir(ltr)::part(base) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.phone__input:dir(rtl)::part(base) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
