.agent-profile,
.agent-form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.agent-card.--status-card::part(body) {
  padding-top: 0;
}

.agent-card::part(body) {
  padding-inline: 0;
  padding-bottom: 0;
  padding-top: 1rem;
  /* padding-inline-start: 0.5rem; */
}
.agent-card.--business-info::part(header) {
  padding-top: 0;
}

.agent-card::part(header) {
  border-bottom: 0;
  padding-inline: 0;
  padding-bottom: 0;
  padding-top: var(--wa-space-l, 1.5rem);
}

.agent-card p {
  padding: 0;
  margin: 0;
}

.agent-card--horizontal::part(body) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.agent-card__header {
  flex: 1 1 0%;
}

.agent-card__description {
  font-size: 0.75rem;
  color: var(--wa-color-text-quiet);
}

.agent-form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/*md*/
@media (min-width: 768px) {
  .agent-card::part(body) {
    padding-inline-start: 0.5rem;
  }
  /* :host {
    max-width: 400px;
  } */
}
