.main-container {
  max-width: 56.25rem;
  margin-left: auto;
  margin-right: auto;
  /* background: white; */
}
.label-title {
  padding: 0;
  margin: 0;
  color: rgb(51, 51, 51);
  font-weight: 700;
}
.label-value {
  padding-left: 0.25rem;
  color: rgb(102, 102, 102);
  font-weight: 600;
}
.booking-details,
.pickup-container {
  padding: 0.94rem 0;
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
}
.accommodation-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.94rem 0;
  flex-wrap: wrap;
  gap: 0.62rem;
}
.booking-dates {
  color: rgb(51, 51, 51);
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.roomtype-title td {
  padding-top: 1.56rem;
  padding-right: 0.62rem;
}
.policies {
  font-size: 0.88rem;
}
.policies-container {
  padding: 0.62rem 0.06rem 0.94rem 0.06rem;
}
.policies {
  padding-inline: 0.06rem;
}
.room_amount_day {
  padding: 0.31rem;
}
.room_amount_day.amount {
  font-weight: 700;
  text-transform: capitalize;
}
.room_amount_day.rate {
  font-weight: 700;
  color: rgb(51, 51, 51);
}
.pricing-summary {
  /* width: 100%; */
  /* min-width: fit-content; */
  text-align: end;
  padding-left: 0.62rem;
  padding-bottom: 0.94rem;
}

.room_amount.date {
  color: #1f2937;
  background: #f3f4f6;
}
.room_amount.amount {
  margin-bottom: 0.5rem;
}
.pricing-breakdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.property_name,
.booked_on_date,
.invoice_reference {
  color: rgb(51, 51, 51);
  font-size: 0.88rem;
  font-weight: 700;
}
.booking-number {
  font-size: 1.25rem;
  font-weight: 600;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.94rem;
}
.booked_on_date {
  font-weight: 600;
}
.reservation-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.origin-icon {
  height: 2.5rem;
  width: 2.5rem;
}
.invoice_reference {
  text-align: end;
}
.billing_header {
  /* padding: 0.62rem; */
  color: #333;
  box-sizing: border-box;
  font-size: 1rem;
}
.billing_cell {
  /* padding: 0.62rem; */
  text-align: left;
}
.billing_table {
  padding: 0.62rem 0;
}
.billing_table caption {
  text-align: start;
  font-size: 1.12rem;
  padding: 0.62rem 0rem 0.94rem;
}
.pickup-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.pickup_title {
  font-size: 1.12rem;
  padding: 0rem 0 0.94rem 0;
}
.car_name {
  color: #333;
  font-weight: bold;
  padding-right: 0.62rem;
}
.pickup-details .label-title {
  padding-right: 0.62rem;
}
.billing_reference {
  width: 2.5rem;
}
.room_amount_container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.room_amount {
  min-width: 4.38rem;
}
.room_amount_empty {
  color: white;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  display: none;
}
.room_amount_rate {
  display: none;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}
.room_amount_main_container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.31rem; */
}
@media only screen and (min-width: 768px) {
  .room_amount_container {
    flex-direction: column;
  }
  .billing_header,
  .billing_cell {
    padding: 0.62rem;
  }
  .billing_reference {
    width: auto;
  }
  .room_amount_empty {
    display: block;
  }
  .room_amount_rate {
    display: block;
  }
}
