:host {
  display: block;
}
.bookedByEmailContainer {
  flex: auto;
  max-width: 350px;
}

.bookedDetailsForm label {
  min-width: 125px;
  max-width: 125px;
}
.row.sc-igl-booking-form {
  padding: 0 !important;
}
.bookedDetailsForm .form-group {
  margin-bottom: 10px !important;
}

.bookedDetailsForm .checkBoxContainer input {
  height: 1.2rem !important;
  width: 30px;
}

.property-booked-by__money-transfer-description * {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
/* reset wrapper itself + all descendants */
.property-booked-by__money-transfer-description,
.property-booked-by__money-transfer-description :where(*, *::before, *::after) {
  margin: 0.5rem !important;
}
/* .controlContainer1 .textarea-container {
  border: 1px solid #ced4da; 
  border-radius: 0.25rem; 
  height: 60px; 
  width: 100%;
} */
.controlContainer textarea {
  height: 60px !important;
}
.margin3 {
  margin-bottom: 5px !important;
}
@media (min-width: 768px) {
  .bookedByEmailContainer {
    margin-left: 37px;
  }
}
.fd-property-booked-by__guest-form {
  display: grid;
  padding: 0;
  box-sizing: border-box;
  gap: 0.5rem;
  width: 100%;
  flex: 1 1 0%;
}
