@import url('../../../assets/webawesome/component/host.css');

:host {
  display: block;
  height: 100%;
  color: var(--wa-color-text-normal);
  font-size: var(--wa-font-size-m);
}
.page-title {
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  font-size: var(--wa-font-size-xl);
}
.page__description {
  font-size: var(--wa-font-size-m);
}
.ir-page__container {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-l, 1.5rem);
  padding: var(--wa-space-l);
  position: relative;
  height: 100%;
  width: 100%;
  max-width: none;
  margin: 0;
}
.tax-page__header {
  display: flex;
  gap: var(--wa-space-l, 1.5rem);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
