:host {
  display: block;
}
:host {
  display: block;
}
.departures-filters__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .departures-filters__container {
    flex-direction: row;
    align-items: center;
  }
  .departures-filters__container > * {
    flex: 1 1 0%;
  }
  .departures-filters__date-picker {
    max-width: 200px;
  }
  .departures-filters__search-bar {
    max-width: 400px;
  }
}
