:host {
  padding-bottom: 3rem;
}
:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-editor__guest-name-group,
.booking-editor__form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-editor__guest-input,
.booking-editor__guest-input-validator {
  width: 100%;
}

.booking-editor__form-control {
  /* flex: 0 0 auto; */
  width: 100%;
  flex-grow: 0;
  height: fit-content;
}

.booking-editor__payment-info-description {
  display: flex;
  height: fit-content;
  flex-direction: column;
}
.booking-editor__guest-input-label.--first-name-pc-label {
  display: none;
}

/*md*/
@media (min-width: 768px) {
  .booking-editor__guest-input-label.--first-name-pc-label {
    display: block;
  }

  .booking-editor__guest-name-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .booking-editor__guest-input-label.--first-name-mobile-label,
  .booking-editor__guest-input.--last-name::part(label) {
    display: none;
  }
  :host {
    flex-direction: row;
    gap: 4rem;
  }
}
