:host {
  display: block;
}

.property-switcher__trigger {
  width: 200px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
}
.property-switcher__dialog::part(dialog) {
  margin: 0;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 0;
}

.property-switcher__dialog::part(body) {
  padding: 0;
}
.property-switcher__trigger-btn {
  width: 100%;
}
.property-switcher__trigger-btn::part(start) {
  display: none;
}
.property-switcher__trigger-btn::part(base) {
  justify-content: space-between;
  width: 100%;
}
.property-switcher__loader,
.property-switcher__dropdown-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  min-width: 100px;
}

.property-switcher__loader {
  min-height: 150px;
}

/*sm*/
@media (min-width: 640px) {
  .property-switcher__dialog::part(dialog) {
    margin: auto;
    inset: 0;
    max-width: 100%;
    border-radius: var(--wa-panel-border-radius);
    height: fit-content;
  }
  .property-switcher__dialog::part(header) {
    display: none;
  }
}
