:host {
  display: block;
}

.property-switcher__search-input {
  padding: 1rem;
}

/* .property-switcher__results {
  max-height: 250px;
  min-height: 150px;
  overflow-y: auto;
  padding-bottom: 1rem;
} */

.property-switcher__status {
  padding: 1rem;
  font-size: 0.875rem;
  color: var(--ir-color-text-muted, #646464);
}

@media (min-width: 640px) {
  .property-switcher__results {
    max-height: 250px;
    min-height: 150px;
    overflow-y: auto;
    padding-bottom: 1rem;
  }
}
