@import url('../../../assets/webawesome/component/host.css');
@import url('../printing.css');
:host {
  display: block;
  width: 100%;
  color: #1b1d26;
  background-color: white;
  padding: 1rem;
}
.proforma-invoice__company-details::part(container) {
  text-align: end;
  justify-content: flex-end;
}
.invoice__layout {
  display: flex;
  justify-content: space-between;
}
.invoice__column,
.property-overview {
  display: flex;
  flex-direction: column;
}
.invoice__column--property,
.property-overview {
  align-items: flex-end;
  text-align: end;
}
.bill-to-section,
.property-overview {
  margin-top: 0.875rem;
}
.property-logo {
  height: 2.5rem;
}
.invoice {
  max-width: 58.25rem;
  margin-left: auto !important;
  margin-right: auto !important;
}
.proforma__accommodation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #d1d5db;
}
.ir-proforma-invoice__service {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.ir-proforma-invoice__checkbox-price {
  font-weight: 700;
  white-space: nowrap;
}
.ir-proforma-invoice__cancellation-date {
  font-size: 0.875rem;
  color: #374151;
}
.ir-proforma-invoice__cancellation-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 80%;
}
.proforma__accommodation-container .proforma__accommodation-title {
  font-weight: 600;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  color: #111827;
}
.invoice__title {
  font-size: 1.3rem;
}
.invoice__layout {
  padding: 1rem 0;
}
.proforma-payment__section {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 0.5rem;
  border-top: 1px solid #d1d5db;
}

@media print {
  .invoice {
    min-width: 100%;
    height: auto;
    min-height: auto;
  }
  .invoice,
  .invoice * {
    visibility: visible;
  }

  .invoice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
