:host {
  display: block;
  position: relative;
  box-sizing: border-box;
  --ir-root-width: 36px;
  --ir-root-height: 20px;
}

.hidden-input {
  transform: translateX(-100%);
  position: absolute;
  pointer-events: none;
  opacity: 0;
  margin: 0;
  width: var(--ir-root-width);
  height: var(--ir-root-height);
}
.SwitchRoot {
  all: unset;
  padding: 0;
  margin: 0;
  width: var(--ir-root-width);
  height: var(--ir-root-height);
  background-color: var(--ir-root-inactive-color, #ff4961);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 9999px;
  box-sizing: border-box;
}
.SwitchRoot:disabled {
  opacity: 80%;
}
.SwitchRoot:focus-visible {
  outline: 1px solid var(--ir-root-active-color, rgb(55, 188, 155));
  outline-offset: 1px;
}
.SwitchRoot[data-state='checked'] {
  background-color: var(--ir-root-active-color, rgb(55, 188, 155));
}
.SwitchThumb {
  padding: 0;
  margin: 0;
  display: block;
  width: calc(var(--ir-root-height) - 3px);
  height: calc(var(--ir-root-height) - 3px);
  border-radius: 9999px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px;
  transition: transform 100ms ease 0s;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(calc(var(--ir-root-height) - 3px));
}
