@import url('../../../../assets/webawesome/component/host.css');
:host {
  display: block;
  font-size: 0.93rem;
}
.status-activity__manipulation {
  color: var(--wa-color-danger);
}
.status-activity__modified,
.status-activity__manipulation {
  font-size: 0.875rem;
}
