:host {
  display: block;
}

.mobile-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.mobile-card__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mobile-card__text-center {
  text-align: center;
}

.mobile-card__rooms {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
}

.mobile-card__room {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.mobile-card__room-divider {
  font-size: 0.93rem;
  line-height: 1;
}

.mobile-card__extra-services {
  font-size: 0.93rem;
}

.mobile-card__dates {
  display: flex;
  align-items: center;
}

.mobile-card__actions {
  display: flex;
  gap: 0.5rem;
}

.mobile-card__action-button {
  flex: 1 1 0%;
}
