:host {
  display: block;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.loading-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-icon {
  position: absolute;
  top: 18px;
  right: 33px;
  outline: none;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;

  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}
.card {
  top: 0;
  z-index: 1000;
}
.card-title {
  border-bottom: 1px solid #e4e5ec;
  width: 100%;
}
.irfontgreen {
  color: #0e930e;
}
.currency {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  height: auto;
  left: 10px;
}
.rate-input {
  font-size: 14px;
  line-height: 0;
  padding: 0;
  height: 0;
  border-left: 0;
  border-radius: 0.25rem !important;
}
.rate-input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  flex: 1;
}
.new-currency {
  color: #3b4781;
  border: 1px solid #cacfe7;
  font-size: 0.975rem;
  height: 2rem;
  background: rgb(255, 255, 255);
  padding-right: 0 !important;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.input-group-prepend span[data-state='focus'] {
  border-color: var(--blue);
}
.input-group-prepend span[data-disabled] {
  background-color: #eceff1;
  border-color: rgba(118, 118, 118, 0.3);
}
.rateInputBorder {
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
