:host {
  display: block;
}
.dp-report__page::part(description) {
  font-size: var(--wa-font-size-s);
  margin-top: 0.25rem;
}

.dp-report__callout {
  margin-bottom: 1rem;
}

.dp-report__callout-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.dp-report__callout-text {
  margin: 0;
}
.dp-report__property-select::part(listbox) {
  max-height: 300px;
}
.dp-report__property-select {
  width: 100%;
}
/*lg*/
@media (min-width: 1024px) {
  .dp-report__property-select {
    width: 300px;
  }
}
