:host {
  display: block;
}

.ir-ghs-filters__container {
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.ir-ghs-filters__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--wa-space-s);
}

.ir-ghs-filters__header-content {
  display: flex;
  align-items: center;
  gap: var(--wa-space-xs);
}

.ir-ghs-filters__title {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  font-weight: var(--wa-font-weight-bold);
  font-size: 13px;
}

.ir-ghs-filters__body {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-m);
}

.ir-ghs-filters__group {
  margin: 0;
  padding: 0;
  border: 0;
}

.ir-ghs-filters__label {
  margin-bottom: var(--wa-space-xs);
  display: block;
  font-size: var(--wa-font-size-small);
  font-weight: var(--wa-font-weight-bold);
  color: var(--wa-color-neutral-900);
}

.small {
  font-size: var(--wa-font-size-small);
}

.font-weight-bold {
  font-weight: var(--wa-font-weight-bold);
}

.text-dark {
  color: var(--wa-color-neutral-900);
}

.ir-ghs-filters__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ir-ghs-filters__reset-btn {
  margin-inline-end: var(--wa-space-m);
}
