:host {
  display: block;
  position: sticky;
  bottom: 0;
  width: max-content;
  z-index: 3;
  color: var(--wa-color-text-quiet);
}

.footerCell {
  display: -moz-inline-grid;
  display: -ms-inline-grid;
  display: inline-grid;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 58px;
  height: 40px;
  background: var(--wa-color-surface-default);
  vertical-align: top;
  border-top: 1px solid var(--wa-color-surface-border);
}

.bottomLeftCell {
  left: -1px;
  z-index: 2;
  width: 170px;
  text-align: left;
  padding-left: 15px;
}

.footerCell i {
  margin-right: 5px;
}

.legendBtn {
  color: #41bff3;
  color: var(--wa-color-text-link);
  cursor: pointer;
}
.legendBtn:hover {
  color: color-mix(in oklab, var(--wa-color-text-link), var(--wa-color-mix-hover));
}

.isOnline i {
  color: #2f9c3f;
  font-weight: bold;
}

.isOffline i {
  font-weight: bold;
}

.isOffline {
  color: #a40000;
}

.dayTitle {
  font-size: 0.8em;
  font-weight: 600;
  display: grid;
  user-select: none;
  /* height: 100%;
  
  align-items: center;
  text-align: center;
  width: 100%; */
}

.currentDay .dayTitle {
  font-weight: bold;
  /* color: #262b31; */
}

.currentDay {
  background-color: var(--wa-color-brand-fill-quiet);
}

.dayCapacityPercent {
  font-size: 0.75em;
}

.badge-pill {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.7em;
  margin-bottom: 2px;
}

.weekend {
  font-weight: bold;
  color: var(--wa-color-text-normal);
}
