.sm-margin-right {
  margin-right: 5px !important;
  background: #000;
}
.action_icons {
  width: 60px;
}
.w-60 {
  width: 100px;
  padding: 0 5px;
}
.payment_date {
  width: 100px;
}
.iframeHeight {
  height: max-content;
  height: 22.5rem;
}
