:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.booking-editor__guest-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.booking-editor__header {
  width: 100%;
  align-items: flex-center;
  display: flex;
}

.booking-editor__dates {
  line-height: 1.2;
}

.booking-editor__total {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.booking-editor__total-label {
  margin-right: 4px;
}

.booking-editor__total-amount {
  white-space: nowrap;
}

.booking-editor__booked-by {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.booking-editor__heading {
  margin: 0;
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  font-size: var(--wa-font-size-l);
  /* margin-bottom: 1.5rem; */
}

@media (min-width: 768px) {
  .booking-editor__booked-by {
    flex-direction: row;
    align-items: center;
  }
  .booking-editor__booked-by-picker {
    max-width: 40rem;
  }
}
