:host {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}
ul {
  position: absolute;
  margin: 0;
  margin-top: 2px;
  width: 100%;
  max-height: 80px;
  border-radius: 0.21rem;
  z-index: 10000;
  padding: 1px;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  max-height: 250px;
  overflow-y: auto;
}
.dropdown-item {
  cursor: pointer;
}
ul li,
span,
loader-container {
  padding: 0px 16px;
  margin: 0px;
  margin-top: 2px;
  width: 100%;
  border-radius: 2px;
}
ul li {
  cursor: pointer;
}
ul li:hover {
  background: #f4f5fa;
}

ul li[data-selected],
ul li[data-selected]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #666ee8;
}
