:host {
  display: block;
  font-family: var(--wa-font-family-body);
  font-weight: var(--wa-font-weight-normal);
}
.dialog-container-height {
  height: 4rem;
}
.list-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  white-space: nowrap;
  display: inline;
}
.list-item {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-left: 5px;
  width: fit-content;
}
.list-item.green {
  color: var(--wa-color-success-fill-loud);
  font-weight: 600;
}
.list-item.red {
  color: var(--wa-color-danger-fill-loud);
  font-weight: 600;
}
