@import url('../../../../assets/webawesome/component/host.css');
:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  font-size: 0.93rem;
}
:host[display='inline'] {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.cell-label {
  font-weight: 700;
}

@media (min-width: 1024px) {
  .booked-on-cell__time {
    font-size: 0.875rem;
  }
}
