:host {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow-x: auto;
  min-height: 60vh;
  max-width: 1920px;
  border: 1px solid var(--wa-color-neutral-border-quiet, #abaeb9);
  background-color: white;
  /* border-bottom: 0; */
}

:host {
  box-sizing: border-box !important;
}

:host *:not(wa-badge),
:host *:not(wa-badge)::before,
:host *:not(wa-badge)::after {
  box-sizing: inherit !important;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}

.agents-table__action {
  display: flex;
  min-width: 100px;
  justify-content: flex-end;
}
.agents-table__muted {
  font-size: 0.75rem;
}
@media (min-width: 1024px) {
  .agents-table__action {
    min-width: 150px;
  }
}
