@import url('../../../assets/webawesome/component/host.css');
:host {
  display: block;
}

:host([display='inline']) .ir-printing-label__container {
  display: inline-flex !important;
  max-width: 100%;
  align-items: center;
}
.ir-printing-label__container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.ir-printing-label__header {
  font-size: 0.75rem;
  font-weight: 600;
}

.ir-printing-label__label {
  font-size: var(--wa-font-size-m);
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
}

.ir-printing-label__content {
  font-size: 0.875rem;
}

.ir-printing-label__text {
  margin: 0;
}

.ir-printing-label__footer {
  margin-top: 0.25rem;
}
