:host {
  display: block;
  margin-bottom: 0.5rem;
}
.currency {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  height: auto;
  left: 10px;
}
.rate-input {
  font-size: 14px;
  line-height: 0;
  padding: 0;
  height: 0;
  border-left: 0;
}
.rate-input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  flex: 1;
}
.new-currency {
  color: #3b4781;
  border: 1px solid #cacfe7;
  font-size: 0.975rem;
  height: 2rem;
  background: white;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.input-group-prepend span[data-state='focus'] {
  border-color: var(--blue);
}
.input-group-prepend span[data-disabled] {
  background-color: #eceff1;
  border-color: rgba(118, 118, 118, 0.3);
}
@media only screen and (min-width: 1200px) {
  .rateplan-name-container {
    width: 40%;
  }
  .rateplan-container {
    width: 40%;
  }
}
@media only screen and (min-width: 991px) {
  .max-w-300 {
    max-width: 200px;
  }
  .rate-input-container {
    max-width: 100px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1300px) {
  .rateplan-name-container {
    width: 35%;
  }
}
@media only screen and (max-width: 768px) {
  .booking-btn {
    width: 100%;
  }
}

.total-nights-container {
  width: max-content;
}
.nightBorder {
  border-left-width: 0;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
