:host {
  display: flex;
}

.navigation-item {
  margin: 0;
}
.navigation-items {
  list-style: none;
}
.navigation-items .dropdown-item {
  margin: 0;
  padding: 10px 20px !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1 !important;
}

.navigation-item {
  margin: 0;
  color: white !important;
}

.navigation-link {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
}

.navigation-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #1f2937;
  text-decoration: none;
}

.mobile-nav-items {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

.mobile-nav-item {
  margin: 0;
}
.navigation-item .dropdown-toggle::after {
  content: none !important;
}
.mobile-nav-link {
  display: block;
  padding: 0.75rem 1rem;
  color: #374151;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
}

.mobile-nav-link:hover {
  background-color: #f9fafb;
  color: #1f2937;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navigation-items {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .navigation-link {
    display: flex;
    align-items: center;
    padding: 0.8rem 0.6rem;
    color: white !important;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}
