.bulk-sheet-container {
  display: flex;
  flex-direction: column;
  height: auto !important;
  min-height: 100vh;
  background: white !important;
  gap: 1rem;
}
.animated-container {
  transition: all 0.5s ease;
}
.days-checkbox {
  gap: 0.5rem;
}
