:host {
  display: block;
}

.bodyContainer {
  position: relative;
}

.roomRow {
  width: max-content;
}

.roomRow:first-child {
  margin-top: 80px;
}
.categoryName {
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.cellData {
  width: 58px;
  height: 30px;
  display: inline-grid;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  vertical-align: top;
}

.cellData:nth-child(2) {
  border-left: 0px;
}

.cellData:last-child {
  border-right: 1px solid #e0e0e0;
}

.roomHeaderCell {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background: #fff;
  border-right: 1px solid #ccc;
  width: 170px;
  z-index: 1;
}

.currentDay {
  background-color: #e3f3fa;
}

.dragOverHighlight {
  background-color: #f5f5dc !important;
}

.selectedDay {
  background-color: #f9f9c9 !important;
}

.categoryTitle {
  grid-template-columns: 1fr 20px;
  padding-left: 10px;
  cursor: pointer;
  height: 40px;
  font-size: 0.9em;
}
.categoryTitle > :nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roomTitle {
  padding-left: 20px;
  font-size: 0.9em;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.roomTitle > :nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roomTitle.pl10 {
  padding-left: 10px;
}

.categoryPriceColumn {
  align-items: center;
  height: 40px;
  -webkit-user-select: none;
  user-select: none;
}

/* BOOKING EVENT */
.bookingEventsContainer {
  position: absolute;
  top: 0;
  left: 0;
}
