:host {
  display: block;
}

.bodyContainer {
  position: relative;
}

.roomRow {
  width: max-content;
}

.roomRow:first-child {
  margin-top: 80px;
}
.categoryName {
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
/* .cellData[data-dirty-room='true'] { 
  border-bottom: 5px solid rgb(80, 80, 80) !important;
} */
.cellData[data-dirty-room='true']::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 30%;
  right: 30%;
  background-color: #d4d0be !important;
}

/* .cellData.disabled[data-dirty-room='true'] {
  border-bottom: 2px solid rgb(80, 80, 80) !important;
} */
.cellData.disabled {
  background: rgba(153, 153, 153, 15%);
  cursor: var(--cell-cursor, not-allowed);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.roomRow .room {
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.roomRow .room:hover {
  background: #e0e0e0;
}
.roomRow .room:hover[data-hk-enabled='false'] {
  background: white;
  cursor: default;
}
.cellData {
  width: 58px;
  height: 30px;
  display: inline-grid;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  vertical-align: top;
}
.triangle-button {
  --size: 10px;
  position: absolute;
  right: -6px;
  top: -1px;

  width: 0;
  height: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--in-toggle-color);

  transform: rotate(45deg);
}
.cellData:nth-child(2) {
  border-left: 0px;
}

.cellData:last-child {
  border-right: 1px solid rgba(186, 191, 199, 0.5);
}

.roomHeaderCell {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background: #fff;
  border-right: 1px solid #ccc;
  width: 170px;
  z-index: 1;
}

.currentDay {
  background-color: #e3f3fa;
}

.dragOverHighlight {
  background-color: #f5f5dc !important;
}

.selectedDay {
  background-color: #f9f9c9 !important;
}

.categoryTitle {
  grid-template-columns: 1fr 20px;
  padding-left: 10px;
  cursor: pointer;
  height: 40px;
  font-size: 0.9em;
}
.categoryTitle > :nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roomTitle {
  padding-left: 20px;
  font-size: 0.9em;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.roomTitle > :nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roomTitle.pl10 {
  padding-left: 10px;
}

.categoryPriceColumn {
  align-items: center;
  height: 40px;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}

/* BOOKING EVENT */
.bookingEventsContainer {
  position: absolute;
  top: 0;
  left: 0;
}
