:host {
  --ir-border: var(--wa-color-surface-border);
}

.ir-revenue-row__accordion::part(base),
.ir-revenue-row {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--ir-border, #e5e7eb);
  padding: 0;
}

/* Header */
.ir-revenue-row__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--ir-space-4, 1rem);
  border-bottom: 1px solid var(--ir-border, #e5e7eb);
}
.ir-revenue-row__accordion::part(trigger),
.ir-revenue-row__title {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  color: var(--wa-color-text-normal);
  transition-property: background, border, box-shadow, color;
  transition-duration: var(--wa-transition-fast);
  transition-timing-function: var(--wa-transition-easing);
}
.ir-revenue-row__title {
  padding: 0;
}
.ir-revenue-row__header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ir-revenue-row__accordion::part(trigger):hover {
  color: var(--wa-color-on-quiet, var(--wa-color-neutral-on-quiet));
  background-color: var(--wa-color-fill-quiet, var(--wa-color-neutral-fill-quiet));
}
.ir-revenue-row__accordion::part(trigger):active {
  color: var(--wa-color-on-quiet, var(--wa-color-neutral-on-quiet));
  background-color: color-mix(in oklab, var(--wa-color-fill-quiet, var(--wa-color-neutral-fill-quiet)), var(--wa-color-mix-active));
}

.ir-revenue-row__group {
  margin: 0;
  /* font-weight: 600; */
}

.ir-revenue-row__total {
  font-weight: 700;
  margin: 0;
}
.ir-revenue-row__accordion::part(content) {
  padding: 0.25rem 1rem;
}

.ir-revenue-row__detail {
  display: block;
  border-bottom: 1px solid var(--ir-border, #e5e7eb);
}

.ir-revenue-row__detail:last-child {
  border-bottom: none;
}
/*lg*/
@media (min-width: 1024px) {
  .ir-revenue-row__header-left {
    width: 40.77vw;
  }
  .ir-revenue-row__accordion::part(trigger),
  .ir-revenue-row__title {
    justify-content: flex-start;
  }
}
