:host {
  --icon-button-color: #6b6f82;
  --icon-button-hover-color: #104064;
}

.button-icon {
  padding: 0;
  margin-top: 0;
}

.button-icon[data-state='loading'] {
  display: none;
}

.button-text {
  padding: 0 5px;
}

.bounce-3 {
  animation: bounce 1s 1;
}

.ir-button-class {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.btn-outline {
  background: transparent;
  border: 1px solid #104064;
  color: #104064;
}
.btn-outline:hover,
.btn-outline:active {
  background: #104064;
  color: white;
}
.icon-button {
  all: unset;
  box-sizing: border-box;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-button-color);
  padding: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.icon-button:hover {
  color: var(--icon-button-hover-color);
}
.icon-button:hover.hovered_bg {
  background: var('--ir-icon-bg-hover', #f6f6f6);
}
.icon-button:disabled {
  pointer-events: none;
}

.icon-loader {
  margin: 0;
  padding: 0;
  width: var(--icon-size, 1.25rem);
  height: var(--icon-size, 1.25rem);
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--icon-button-color) 94%, #0000) top/2px 2px no-repeat, conic-gradient(#0000 30%, var(--icon-button-color));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), var(--icon-button-color) 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), var(--icon-button-color) 0);
  animation: l13 1s infinite linear;
}

.btn_loader {
  width: 15px;
  height: 10px;
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes ping {
  75%,
  100% {
    transform: scale(1.2);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
