/* .loader {
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
} */

.button-icon {
  padding: 0;
  margin-top: 0;
}
.button-icon[data-state='loading'] {
  display: none;
}
.button-text {
  padding: 0 5px;
}
.bounce-3 {
  animation: bounce 1s 1;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* HTML: */
.loader {
  width: 15px;
  height: 10px;
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes ping {
  75%,
  100% {
    transform: scale(1.2);
  }
}
