:host {
  display: block;
  height: 100%;
}
.logo {
  height: 2rem;
  width: 2rem;
}
.card {
  overflow-x: auto;
}
.secondary-p {
  font-size: 12px !important;
}
.h-screen {
  height: 100%;
}
.price-span {
  margin: 0;
  margin-right: 5px;
}
.main-container {
  height: 100%;
  overflow-y: auto;
}
.badge.ct_ir_badge {
  padding: 0.2rem 0.3rem;
}
.yellow_dot {
  height: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  width: 0.8rem;
  border-radius: 50%;
  background: rgb(244, 213, 82);
  margin-left: 0.5rem;
  display: inline-flex;
  padding: 0;
  margin: 0;
}
.booking_name {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.bg-ir-red {
  background: #ff4961;
  padding: 0.2rem 0.3rem;
}
.due-btn {
  border: 1px solid #ff4961;
  color: #ff4961;
  cursor: pointer;
  padding: 1px 0.25rem !important;
  font-size: 12px !important;
}
.due-btn:hover {
  background: #ff4961;
  color: white;
}
.booking_number {
  all: unset;
  cursor: pointer;
}
.booking_number:hover {
  color: #1e9ff2;
}
.in-out {
  width: 150px !important;
}
.buttons-container {
  gap: 10px;
}
td ul {
  width: max-content !important;
}
td {
  width: max-content !important ;
}
.date-p {
  width: max-content !important;
  min-width: 100%;
  text-align: center !important;
}
.booking-label-gap {
  gap: 5px;
}
@media (min-width: 1024px) {
  .yellow_dot {
    height: 0.5rem;
    width: 0.5rem;
  }
}
