@import url('../../../../assets/webawesome/component/host.css');
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.93rem;
}
:host[display='inline'] {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.cell-label {
  font-weight: 700;
}
.balance_button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
