:host {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 99;
  overflow: hidden;
  /* min-width: 450px; */
}

.card-title {
  border-bottom: 1px solid #e4e5ec;
  width: 100%;
}
.card-header-container {
  border-bottom: 1px solid #e4e5ec;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 0;
  justify-content: space-between;
}
.fd-book-property__title {
  margin: 0;
  padding: 0;
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  font-size: var(--wa-font-size-l);
}
.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.card-header-container h3 {
  padding: 0;
  margin: 0;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.formContainer {
  height: calc(100% - 79px);
  overflow: auto;
}
.gap-30 {
  gap: 30px;
}
.block-date {
  width: 100%;
}
.sideWindow {
  position: absolute;
  inset: 0;
  left: unset;
  background-color: #ffffff;
  width: 100%;
  overflow: auto;
  animation: slideInFromRight 0.5s;
}
.card {
  top: 0;
  z-index: 1000;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}

.close-icon {
  position: absolute;
  top: 18px;
  right: 33px;
  outline: none;
}

button:not(:disabled),
[type='button']:not(:disabled) {
  cursor: pointer;
}
.sheet-footer {
  width: 100%;
}

.card-header-container {
  --spacing: var(--wa-space-l);
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  padding-inline-start: var(--spacing);
  padding-block-end: 0;
  padding-inline-end: calc(var(--spacing) - var(--wa-form-control-padding-block));
  padding-block-start: calc(var(--spacing) - var(--wa-form-control-padding-block));
  border-bottom: 1px solid var(--wa-color-surface-border);
  padding-bottom: calc(var(--spacing) / 2);
  background-color: var(--wa-color-surface-default);
}
/* .row {
  padding: 0 0 0 15px;
  margin: 0;
} */
@media only screen and (min-width: 1200px) {
  .sideWindow {
    max-width: 70%;
  }
}
@media only screen and (min-width: 2000px) {
  .sideWindow {
    max-width: 40%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .sideWindow {
    max-width: 90%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .sideWindow {
    max-width: 75%;
  }
}
@media only screen and (min-width: 641px) {
  .block-date {
    max-width: 450px;
    padding-bottom: 0 !important;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}

.sideWindow--exit {
  animation: slideOutToRight 0.5s forwards;
}
