:host {
  display: inline-flex;
}
.new-badge {
  /* margin-left: 0.25rem; */
  font-weight: 400;
  text-align: center;
  vertical-align: middle !important;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  white-space: nowrap;

  background: #ff4961;
  color: white;
  padding: 0.2rem 0.3rem;
  font-size: 0.5rem !important;
  border-radius: 4px;
}
