:host {
  display: block;
  --ir-dialog-max-width: 32rem;
}
.logo {
  height: 20px;
  width: 10px !important;
}

.button-link {
  padding: 8px 14px;
  font-size: 14px;
  line-height: 14px;
  background: white;
  color: var(--gray-600, #475467);
}
.button-link:hover {
  text-decoration: underline;
}
.button-link:disabled {
  background: white;
  color: var(--gray-300, #d0d5dd);
}
