:host {
  display: block;
}

.booking-header__row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 var(--wa-space-m);
  flex-wrap: wrap;
}
.booking-header__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;
}
.booking-header__label-container {
  display: flex;
  align-items: center;
}
.booking-header__status-trigger {
  width: 100%;
}
.booking-header__status-trigger::part(base) {
  justify-content: flex-start;
}
.booking-header__status-trigger::part(label) {
  flex: 1 1 0%;
  text-align: start;
}
.booking-header__stretched-btn {
  flex: 1 1 0%;
}
.booking-header__label {
  padding: 0;
  margin: 0;
}
.booking-header__label-container {
  gap: 1rem;
}
.booking-header__info,
.booking-header__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.booking-header__label-number {
  margin: 0;
  padding: 0;
  font-family: var(--wa-font-family-heading);
  font-weight: var(--wa-font-weight-heading);
  line-height: var(--wa-line-height-condensed);
  text-wrap: balance;
  font-size: var(--wa-font-size-l);
}
.booking-header__modified {
  padding: 0;
  margin: 0;
  color: var(--wa-color-danger-fill-loud);
  width: fit-content;
}
.booking-header__channel-number {
  padding: 0;
  margin: 0;
}
.booking-header__meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
}
/*sm*/
@media (min-width: 640px) {
  .booking-header__title {
    flex-direction: row;
    align-items: center;
  }
}

/*md*/
@media (min-width: 768px) {
  .booking-header__row,
  .booking-header__info {
    flex-direction: row;
    align-items: center;
  }
  .booking-header__row {
    justify-content: space-between;
  }
}

/*lg*/
@media (min-width: 1024px) {
}

/*xl*/
@media (min-width: 1280px) {
}

/*2xl*/
@media (min-width: 1536px) {
}
