:host {
  display: block;
}
:root {
  --otp-modal-padding: 1.5rem;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.otp-modal-header {
  border-bottom: 0px !important;
}
.otp-modal {
  z-index: 9999999 !important;
  border: none;
  padding: 0 !important;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.35rem;
  outline: 0;
}
.otp-modal-content {
  background-color: white;
  border: none;
  border-radius: 0.35rem;
  outline: 0;
}
.otp-modal-title {
  margin-bottom: 0;
  line-height: 1.45;
}
.otp-modal-body {
  max-height: 100% !important;
  padding: 0 var(--otp-modal-padding);
}
.otp-modal-header {
  display: flex;
  justify-content: space-between;
  padding: var(--otp-modal-padding);
  padding-bottom: 1rem;
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}
.otp-modal-dialog {
  z-index: 9999999 !important;
}
.otp-modal-footer {
  border-top: 0 !important;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: var(--otp-modal-padding);
  padding-top: 0.5rem !important;
}
.verification-message {
  max-width: 90%;
}
.modal-loading-container {
  height: 250px;
  width: 80vw;
}
@media (min-width: 768px) {
  .otp-modal-dialog,
  .otp-modal-content {
    width: fit-content !important;
  }
  .otp-modal-footer {
    flex-direction: row;
    align-items: center;
  }
  .modal-loading-container {
    width: 380px !important;
  }
  .verification-message {
    max-width: 350px !important;
  }
}
