:host {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
}
.svg-icon {
  height: 20px;
  width: 20px;
}
.darkGrey {
  background: #ececec;
}
.btn {
  pointer-events: auto;
}
.dayTitle.weekend {
  font-weight: bold;
  color: #1e9ff2;
  color: black;
}
.stickyCell {
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  display: inline-grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 82px;
  display: inline-block;
  vertical-align: top;
  z-index: 2;
}

.headersContainer {
  background-color: #ffffff;
}

.headerCell {
  display: inline-grid;
  width: 58px;
  height: 58px;
  vertical-align: top;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.monthsContainer {
  height: 20px;
  background-color: #ffffff;
  margin-bottom: 0.2em;
}

.monthCell {
  display: inline-grid;
  height: 20px;
  background-color: #ececec;
  border-right: 1px solid #c7c7c7;
  vertical-align: top;
}

.monthCell:nth-child(odd) {
  background-color: #dddddd;
}

.monthTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.topLeftCell {
  left: 0px;
  z-index: 3;
  width: 170px;
  background-color: #ffffff;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  display: inline-grid;
}
.datePickerHidden {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  /* z-index: 1; */
  z-index: 1;
}

.date_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.date_btn:hover {
  background: #f6f6f6;
  border-radius: 0.3rem;
}
.caledarBtns {
  position: relative;
  cursor: pointer;
  padding: 0.4rem;
}

.caledarBtns:hover {
  background-color: #f6f6f6;
}

.dayTitle {
  font-size: 0.8em;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.currentDay .dayTitle {
  font-weight: bold;
}

.currentDay {
  background-color: #e3f3fa;
}

.dayCapacityPercent {
  font-size: 0.75em;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.badge-pill {
  padding: 3px 1em;
  font-size: 0.8em;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.pointer {
  cursor: pointer;
}

.searchContiner {
  padding-left: 10px;
  padding-right: 10px;
}

.searchListContainer {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}

.searchListItem {
  background: white;
  border-bottom: 1px solid #ccc;
  padding-left: 8px;
}

.badge-light {
  background-color: #999999;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.min-width-full {
  min-width: 100%;
}
