:host {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  color: var(--wa-color-text-quiet);
}
.svg-icon {
  height: 20px;
  width: 20px;
}
.darkGrey {
  background: #ececec;
}
.btn {
  pointer-events: auto;
}
.dayTitle.weekend {
  font-weight: bold;
  color: var(--wa-color-text-normal);
}
.cellData {
  background-color: var(--wa-color-surface-default);
}
.stickyCell {
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  display: inline-grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 82px;
  display: inline-block;
  vertical-align: top;
  z-index: 2;
}

.headersContainer {
  background-color: var(--wa-color-surface-default);
}

.headerCell {
  display: inline-grid;
  width: 58px;
  height: 58px;
  vertical-align: top;
  background-color: var(--wa-color-surface-default);
  border-bottom: 1px solid var(--wa-color-surface-border);
}

.monthsContainer {
  height: 20px;
  background-color: var(--wa-color-surface-default);
  margin-bottom: 0.2em;
}

.monthCell {
  display: inline-grid;
  height: 20px;
  background-color: var(--wa-color-overlay-inline);
  border-right: 1px solid var(--wa-color-surface-border);
  color: var(--wa-color-neutral-on-quiet);
  vertical-align: top;
}

.monthCell:nth-child(odd) {
  background: var(--wa-color-neutral-fill-normal);
  color: var(--wa-color-neutral-on-normal);
}

.monthTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.topLeftCell {
  left: 0px;
  z-index: 3;
  width: 170px;
  background-color: var(--wa-color-surface-default);
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  display: inline-grid;
}
.datePickerHidden {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  /* z-index: 1; */
  z-index: 1;
}

.date_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.date_btn:hover {
  background: #f6f6f6;
  border-radius: 0.3rem;
}
.caledarBtns {
  position: relative;
  cursor: pointer;
  padding: 0.4rem;
}

.caledarBtns:hover {
  background-color: #f6f6f6;
}

.dayTitle {
  font-size: 0.8em;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.currentDay .dayTitle {
  font-weight: bold;
}

.currentDay {
  background-color: var(--wa-color-brand-fill-quiet);
}

.dayCapacityPercent {
  font-size: 0.75em;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.badge-pill {
  padding: 3px 1em;
  font-size: 0.8em;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.pointer {
  cursor: pointer;
}

.searchContiner {
  padding-left: 10px;
  padding-right: 10px;
}

.searchListContainer {
  background: var(--wa-color-surface-default);
  border: 1px solid var(--wa-color-surface-border);
  border-bottom: none;
}
.fd-header__badge-btn {
  all: unset;
  cursor: pointer;
}
.fd-header__badge-btn:hover .fd-header__badge {
  background-color: color-mix(in oklab, var(--wa-color-fill-loud, var(--wa-color-neutral-fill-loud)), var(--wa-color-mix-hover));
}
.searchListItem {
  background: var(--wa-color-surface-default);
  border-bottom: 1px solid var(--wa-color-surface-border);
  padding-left: 8px;
}
.header__fd-actions {
  color: var(--wa-color-text-normal);
  border-inline-end: 1px solid var(--wa-color-surface-border);
}
.badge-light {
  background-color: #999999;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.min-width-full {
  min-width: 100%;
}
.header__fd-actions {
  display: flex;
  width: 170px;
  box-sizing: border-box;
  /* padding: 10px; */
  gap: 0.875rem;
  color: var(--wa-color-text-normal);
  flex-direction: column;
}
