:host {
  box-sizing: border-box !important;
}

:host *,
:host *::before,
:host *::after {
  box-sizing: inherit !important;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}
/* .table--container {
  flex: 1 1 0%;
} */
.arrivals-table__actions-cell {
  display: flex;
  min-width: 100px;
  justify-content: flex-end;
}
.table--container {
  display: none;
  overflow-x: auto;
}
.card--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.data-table--pagination {
  display: none;
}
.booking-listing__load-more {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  :host {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow-x: auto;
    min-height: 60vh;
    max-width: 1920px;
    border: 1px solid var(--wa-color-neutral-border-quiet, #abaeb9);
    background-color: white;
    /* border-bottom: 0; */
  }
  .table--container,
  .data-table--pagination {
    display: block;
  }
  .booking-listing__load-more,
  .card--container {
    display: none;
  }
  .arrivals-table__actions-cell {
    min-width: 250px;
  }
}
