:host {
  display: flex;
  min-width: 280px;
}

.igl-date-range__popup {
  --arrow-size: 0.375rem;
  --show-duration: 100ms;
  --hide-duration: 100ms;
  pointer-events: auto;
  width: 100%;
}

.igl-date-range__popup::part(arrow) {
  background-color: var(--wa-color-surface-default);
  border-top: none;
  border-left: none;
  border-bottom: solid var(--wa-panel-border-width) var(--wa-color-surface-border);
  border-right: solid var(--wa-panel-border-width) var(--wa-color-surface-border);
  box-shadow: none;
}

.igl-date-range__trigger,
.igl-date-range__input {
  width: 100%;
}

.igl-date-range__control {
  width: 100%;
  display: flex;
}

.igl-date-range__control[aria-disabled='true'] {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none;
}

.igl-date-range__calendar {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: var(--wa-space-m);
  background-color: var(--wa-color-surface-default);
  border: var(--wa-panel-border-width) solid var(--wa-color-surface-border);
  border-radius: var(--wa-panel-border-radius);
  border-style: var(--wa-panel-border-style);
  box-shadow: var(--wa-shadow-l);
  color: var(--wa-color-text-normal);
  user-select: none;
  -webkit-user-select: none;
}

.igl-date-range__nights {
  font-weight: 500;
  font-size: var(--wa-font-size-s);
  color: var(--wa-color-text-quiet);
}
