:host {
  display: flex;
  align-items: center !important;
  font-size: 14px !important;
}
.date-range-input {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  cursor: pointer;
  width: 220px !important;
  opacity: 0;
  user-select: none;
  font-size: 14px !important;
}
.iglRangeNights {
  margin: 0;
  padding: 0;
}
.date-view {
  position: absolute;
  background: white;
  pointer-events: none;
  cursor: pointer;
  display: block;
  margin-left: 14px;
  margin-right: 14px;
  font-size: 13.65px !important;
  display: flex;
  align-items: center;
}
.date-view svg {
  padding: 0 !important;
  margin: 0;
  margin-right: 10px;
}
.calendarPickerContainer {
  display: flex !important;
  position: relative !important;
  text-align: left;
  align-items: center !important;
  padding: 0 !important;
  margin: 0;
  border: 1px solid var(--ir-date-range-border, #379ff2);
  width: var(--ir-date-range-width, 245px);
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.calendarPickerContainer:focus-within {
  border-color: #379ff2;
}
.calendarPickerContainer[data-state='disabled'] {
  border: 0px;
  width: 280px;
}
.date-view[data-state='disabled'],
.date-range-input[data-state='disabled'] {
  margin: 0;
  cursor: default;
}
