wa-input[aria-invalid='true']::part(base),
wa-textarea[aria-invalid='true']::part(base),
wa-select[aria-invalid='true']::part(combobox) {
  border-color: var(--ir-color-border-error, var(--wa-color-danger-border-loud));
  outline-color: var(--ir-color-border-error, var(--wa-color-danger-border-loud));

  border-top-width: var(--error-border-width) !important;
  border-left-width: var(--error-border-width) !important;
  border-right-width: var(--error-border-width) !important;
  border-bottom-width: var(--error-border-width) !important;
}
