:host {
  height: 100%;
}
.sheet-container {
  display: flex !important;
  flex-direction: column !important;
  background: white;
  height: 100vh;
  gap: 1rem;
  z-index: 1000;
}
.sheet-container {
  height: -webkit-fill-available;
  height: 100vh;
}

@supports (height: 100svh) {
  .sheet-container {
    height: 100svh;
  }
}
.sheet-footer {
  position: sticky;
  bottom: 0;
  z-index: 20;
  background: white;
  border-top: 1px solid #e4e5ec;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.sheet-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}
.sheet-body {
  flex: 1 1 0%;
}
/* @media (max-width: 767px) {
  .sheet-footer {
    bottom: env(safe-area-inset-bottom);
  }
} */
@media (min-width: 768px) {
  .sheet-footer {
    flex-direction: row;
    align-items: center;
  }
}
