/* Base styles */
.ir-table-row td {
  padding: 0.5rem 1rem !important;
  text-align: left;
  z-index: 2;
  background-color: var(--wa-color-surface-default);
  white-space: nowrap;
  color: var(--wa-color-text-normal);
  box-sizing: border-box;
  /* width: max-content;
  max-width: max-content; */
}
/* .ir-table-row td:last-child {
  width: 100%; 
}*/
/* .ir-table-row td:first-child,
.table thead th:first-child {
  position: sticky;
  left: var(--ir-table-sticky-padding,-1rem);
} */
/* .table--container {
  flex: 1 1 0%;
} */
.table--container {
  overflow-x: auto;
}
.table td {
  border-top: 0;
  border-bottom: 1px solid var(--wa-color-neutral-border-quiet, #abaeb9);
  /* border-bottom: 1px solid var(--wa-color-gray-80); */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.table tbody tr:last-child > td {
  border-bottom: 0 !important;
}
.table thead th {
  border: none !important;
  background: #ececec;
  background: color-mix(in oklab, var(--wa-color-neutral-fill-quiet, #f1f2f3) 60%, transparent);
  color: #374151;
  padding: 0.5rem 1rem !important;
  text-align: left;
}
.data-table thead th {
  box-sizing: border-box;
  background: var(--wa-color-surface-default) !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  border-bottom: 1px solid var(--wa-color-neutral-90) !important;
  color: var(--wa-color-text-normal);
  /* position: sticky;
  top: 0;
  z-index: 99; */
}

.data-table .empty-row {
  height: 50vh !important;
  text-align: center;
  color: var(--wa-color-gray-60);
}

.data-table--pagination {
  padding: 0.5rem 1rem;
  position: sticky;
  bottom: 0;
  background: var(--wa-color-surface-default);
  border-top: 1px solid var(--wa-color-neutral-90);
}

/* Selected Rows Styles */

.selected td {
  background: #e3f3fa !important;
}
.selected td {
  color: var(--gray-dark) !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Sorting styles */
.sortable,
.ir-table-row {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.sortable {
  text-transform: capitalize;
}
.sortable:hover {
  color: #212529;
  background-color: #e2e8f0 !important;
  border-color: #dae0e5;
  cursor: pointer;
}
.ir-table-row:hover td {
  background: #e2e6ea3f !important;
  background: var(--wa-color-neutral-fill-quiet, #f1f2f3) !important;
}
.sortable:active {
  color: #212529;
  background-color: #e2e8f0;
  border-color: #d3d9df;
}
.sortable svg {
  color: var(--blue);
}
/* .action-row {
  position: sticky;
  right:var(--ir-table-sticky-padding,-1rem);
} */
.sticky-column {
  position: sticky !important;
  right: 0;
  background-color: white;
}
.table--container,
.data-table {
  height: 100%;
}
