/* Base styles */
.ir-table-row td {
  padding: 0.5rem 1rem !important;
  text-align: left;
  z-index: 2;
  background-color: white;
  white-space: nowrap;
  width: max-content;
  max-width: max-content;
}
.ir-table-row td:last-child {
  width: 100%;
}
/* .ir-table-row td:first-child,
.table thead th:first-child {
  position: sticky;
  left: var(--ir-table-sticky-padding,-1rem);
} */

.table td {
  border-top: 0;
  border-bottom: 1px solid #e3ebf3;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* .table thead th:first-child {
  border-top-left-radius: 0.5rem;
  }
  .table thead th:last-child {
    border-top-right-radius: 0.5rem;
    } */
.table thead th {
  border: none !important;
  background: #ececec;
  color: #374151;
  padding: 0.5rem 1rem !important;
  text-align: left;
}

/* Selected Rows Styles */

.selected td {
  background: #e3f3fa !important;
}
.selected td {
  color: var(--gray-dark) !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Sorting styles */
.sortable {
  text-transform: capitalize;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.sortable:hover {
  color: #212529;
  background-color: #e2e8f0 !important;
  border-color: #dae0e5;
  cursor: pointer;
}
.sortable:active {
  color: #212529;
  background-color: #e2e8f0;
  border-color: #d3d9df;
}
.sortable svg {
  color: var(--blue);
}
/* .action-row {
  position: sticky;
  right:var(--ir-table-sticky-padding,-1rem);
} */
