:host {
  display: block;
  min-width: 20vw;
  height: 100%;
}
@media (min-width: 768px) {
  .collapse-btn {
    display: none;
  }
  #hkTasksFiltersCollapse.collapse:not(.show) {
    display: block;
  }
}
