:host {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow-x: auto;
  min-height: 60vh;
  max-width: 1920px;
  border: 1px solid var(--wa-color-neutral-border-quiet, #abaeb9);
  background-color: white;
  /* border-bottom: 0; */
}
:host {
  box-sizing: border-box !important;
}

:host *,
:host *::before,
:host *::after {
  box-sizing: inherit !important;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}
.badge {
  border: none;
  padding: 0.2rem 0.3rem;
  /* cursor: pointer; */
}
/* .badge-danger:hover {
  background: #ff6377;
} */
.badge:disabled {
  cursor: default;
}
/* .badge-danger:disabled:hover {
  background: var(--danger, #ff4961);
} */
