@import url('../../../common/error.css');

:host {
  display: flex;
  flex: 1;
  gap: 0;
  align-items: flex-end;
  /* max-width: 200px; */
}

:host(:dir(rtl)) .ir-tax-input__percentage::part(base),
:host(:dir(ltr)) .ir-tax-input__select::part(combobox) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:host(:dir(rtl)) .ir-tax-input__select::part(combobox),
:host(:dir(ltr)) .ir-tax-input__percentage::part(base) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host(:dir(rtl)) .ir-tax-input__select::part(combobox) {
  border-right-width: 0;
}

:host(:dir(ltr)) .ir-tax-input__select::part(combobox) {
  border-left-width: 0;
}
.ir-tax-input__percentage-wrapper {
  z-index: 4;
  /* max-width: 60px; */
}
.ir-tax-input__select-wrapper {
  flex: 1 1 0%;
}

.ir-tax-input__percentage {
  z-index: 5;
}
.ir-tax-input__select {
  flex: 1 1 0%;
}
.ir-tax-input__select-wrapper {
  z-index: 3;
}

.ir-tax-input__select-wrapper:has(.ir-tax-input__select[open]),
.ir-tax-input__select-wrapper:has(.ir-tax-input__select:focus-visible),
.ir-tax-input__select-wrapper:has(.ir-tax-input__select:focus-within),
.ir-tax-input__select[open],
.ir-tax-input__select:focus-visible,
.ir-tax-input__select:focus-within {
  z-index: 4;
}
