:host {
  height: 100vh;
  display: grid;
  align-content: center;
  padding: 2rem;
  box-sizing: border-box;
  background: url(https://x.igloorooms.com/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p,
input,
button {
  margin: 0;
}
p,
input,
button,
div,
section,
form {
  box-sizing: border-box;
}
.form-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  border-radius: 0.25rem;
  gap: 1rem;
  width: 100%;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}
.separator-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.separator-container p {
  color: #6b6f82;
  /* color: green; */
  font-size: 1rem;
}
.separator {
  flex: 1 1 0%;
  height: 1px;
  background: #dadada;
}
.login-btn {
  margin-top: 1rem;
}
.logo {
  align-self: center;
}
.app_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 0.5rem;
}
.app_links a img {
  width: 70%;
}
.password_toggle {
  all: unset;
  position: absolute;
  top: 2px;
  right: 1rem;
}
